/*Styling for all in Grid*/
.grid {
	font-family: Verdana;
	background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/regal.png);
	text-align: center;
	width: 100%;
	height: 100%;
}

/*Styling for Header*/
header {
	border: dotted 2px white;
	background-color: mediumaquamarine;
	font-family: 'Pacifico', cursive;
	width: 100%;
	margin: 5px auto;
	text-align: right;
}

header img {
	width: 200px;
	height: 100%;
	border-radius: 50px;
	float: left;
	margin: 5px;
}

#strike-through {
	text-decoration: line-through;
	font-size: 20px;
}

/*Styling for Navbar*/
nav {
	background-color: lightcoral;
	border-radius: 10px;
	width: 100%;
	margin: 5px auto;
	text-align: center;
}

nav p {
	display: inline-block;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

/*Styling for Article*/
article {
	border: dotted 2px #F08080;
	float: left;
	width: 100%;
	margin: 5px auto;
}

/*Styling for Special words*/
h2 {
	font-size: 30px;
	font-family: 'The Girl Next Door', cursive;
}

h3 {
	
	font-size: 25px;
	color: #F04624;
	font-family: 'The Girl Next Door', cursive;
}
h2, strong {
	color: lightcoral;
}

em {
	color: mediumaquamarine;
}

/*Styling for Section*/
section {
	border: 2px dotted #F08080;
	width: 70vw;
	float: left;
	margin: 5px auto;
}

section img {
	border-radius: 20px;
}

/*Styling for Tables in Section*/
.table-center {
	margin-left:auto; 
    margin-right:auto;
}

table, th, td {
	border: 1px dotted black;
	background-color: ivory;
}

th { 
	color: #F04624;
 }

/*Styling for Sidebar*/
aside {
	border: 2px dotted lightcoral;
	width: 25vw;
	float: right;
	margin: 5px auto;
}

section, aside {
	display: inline-block;

}

aside img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: block;
	margin: 5px auto;
}

/*Styling for Footer*/
footer {
	background-color: rgba(211,211,211, 0.7);
	border: dotted 2px white;
	width: 100%;
	margin: 5px auto;
	clear: both;
	text-align: center;
}

footer h3 {
	color: #000000;
}
.contact {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

/*Styling for Back to Top Button*/
#back-top {
	background-color: lightcoral;
	border: 2px solid rgb(211,211,211);
	position: fixed;
	bottom: 10px;
	right: 20px;
}

/*For mobile users*/
@media(max-width: 480px) {
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}
}